.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main {
  text-align: center;
  margin-top: 170px;
}
h1 {
  color: slategrey;
}
span.text-custom {
  color: cornflowerblue;
}
.main-block {
  display: block;
  margin-top: 40px;
}
.opertor-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  background: cornflowerblue;
  color: white;
  border-radius: 10px;
  width: 55px;
  height: 60px;
  border: none !important;
}
.main-block {
  display: flex;
  margin-top: 40px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  justify-content: center;
  align-items: center;
  gap: 24px;
}
input[type="text"] {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background: cornflowerblue;
  color: white;
  font-size: 34px;
  padding: 0 15px;
  border: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
